name: Build Container
on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
jobs:

  docker-build:
    name: Docker Image Build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build and Push to GitHub Container Registry
        uses: docker/build-push-action@v1
        with:
          push: true
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          repository: mmore500/gen3sis
          registry: ghcr.io
          add_git_labels: true
